@use './variables' as variable;

@mixin generic-button-styles() {
  border: none;
  cursor: pointer;
  border-radius: variable.$default-radius;
  text-transform: uppercase;
}

@mixin sm-button-styles() {
  @include generic-button-styles();
  font-size: 0.5rem;
  padding: 4px 16px;
}

@mixin st-button-styles() {
  @include generic-button-styles();
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 20px;
}

@mixin lg-button-styles() {
  @include generic-button-styles();
  font-size: 1.5rem;
  padding: 12px 36px;
  font-weight: 600;
}

@mixin primary-button-styles() {
  @include generic-button-styles();
  background-color: variable.$primary-color;
  color: white;
}

@mixin secondary-button-styles() {
  @include generic-button-styles();
  background-color: variable.$secondary-color;
  color: black;
}
