@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$bg-color: #dfd9c7;
$primary-color: #2e3ae6;
$white: #f9f9f9;
$primary-font: 'Poppins', sans-serif;
$default-radius: 4px;
