<div class="container">
  <form (ngSubmit)="login()" class="form">
    <label for="email">Insira seu e-mail</label>
    <custom-input name="email" type="text" id="email" [(ngModel)]="email"/>
    <label for="password">Insira sua senha</label>
    <input type="{{ passwordFieldType }}" name="password" id="password" [(ngModel)]="password" />
    <button type="button" (click)="changePasswordFieldType()">eye</button>
    <div class="bottom">
      <custom-button _style="secondary" (click)="login()">login</custom-button>
      <custom-button (click)="goToRegister()">registrar</custom-button>
    </div>
  </form>
</div>
